#navbar {
  display: flex;
  justify-content: space-between;
  padding-left: 4%;
  padding-right: 4%;
  border: 1px solid black;
}

#options {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
a {
  text-decoration: none;
}

#data {
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-gap: 40px;
  justify-content: center;
  padding: 5%;
}
img {
  width: 100%;
  height: 60%;
}
